#update-time {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    background-color: var(--menu-bg-color);
    padding: 5px;
    border-radius: 5px;
}

.timetableContainer {
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

.timetableContainerInner {
    height: 100%;
}

.timetable {
    position: relative;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.timetable thead {
    background-color: var(--timetable-thead);
    border-bottom: 1px solid var(--timetable-thead-border-color);
}

.timetable tbody tr:nth-child(4n+1),
.timetable tbody tr:nth-child(4n+2) {
    background-color: var(--timetable-even-hour-bg-color);
}

.timetable tbody tr:nth-child(4n+3),
.timetable tbody tr:nth-child(4n+4) {
    background-color: var(--timetable-odd-hour-bg-color);
}

.timetable tbody tr td:first-child {
    font-size: 12px;
}

.timetable th {
    border-right: 1px solid var(--timetable-thead-border-color);
}

.timetable th:last-child {
    border: none;
}

.timetable th:first-child {
    width: 100px;
}
@media (max-width: 700px) {
    .timetable th:first-child {
        min-width: 50px;
    }
}

.timetable tbody tr:nth-child(4n+1) td:first-child,
.timetable tbody tr:nth-child(4n+3) td:first-child {
    text-align: left;
    padding-left: 5px;
}

.timetable tbody tr:nth-child(4n+2) td:first-child,
.timetable tbody tr:nth-child(4n+4) td:first-child {
    text-align: right;
    padding-right: 5px;
}

.timetable tbody tr td:first-child {
    border-right: 1px solid var(--timetable-tbody-border-color);
}

.timetable .class {
    text-align: center;
    border: 1px solid var(--timetable-class-border-color);
    transition: background-color 0.5s, color 0.5s;
    color: var(--font-color);
}
@media (max-width: 700px) {
    .timetable .class {
        min-width: 100px;
    }
}

.timetable .class h3 {
    margin: 0;
}

.timetable .class p {
    margin: 0;
}

.timetable .class a {
    transition: all 0.5s;
}
.timetable .class.hover a {
    color: var(--font-color-hover);
}

.timetable .class.t {
    background-color: var(--timetable-class-t-bg-color);
}
.timetable .class.to {
    background-color: var(--timetable-class-to-bg-color);
}

.timetable .class.tp {
    background-color: var(--timetable-class-tp-bg-color);
}
.timetable .class.tpo {
    background-color: var(--timetable-class-tpo-bg-color);
}

.timetable .class.p {
    background-color: var(--timetable-class-p-bg-color);
}
.timetable .class.po {
    background-color: var(--timetable-class-po-bg-color);
}

.timetable .class.subject-hover {
    background-color: var(--timetable-subject-hover);
}

.timetable .class.hover {
    background-color: var(--timetable-class-hover);
    color: var(--font-color-hover);
}

.timetable .class .save {
    position: absolute;
    margin-top: 0;
    margin-left: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}

.timetable .with-right-border {
    border-right: 1px solid var(--timetable-tbody-border-color);
}