.timetable {
    width: 100%;
    border-collapse: collapse;
}

.timetable thead {
    background-color: rgba(200, 200, 200, 0.3);
    border-bottom: 1px solid gray;
}

.timetable tbody tr:nth-child(4n+1),
.timetable tbody tr:nth-child(4n+2) {
    background-color: rgba(255, 255, 255, 1);
}

.timetable tbody tr:nth-child(4n+3),
.timetable tbody tr:nth-child(4n+4) {
    background-color: rgba(245, 245, 245, 1);
}

.timetable tbody tr td:first-child {
    font-size: 12px;
}

.timetable th {
    border-right: 1px solid gray;
}

.timetable th:last-child {
    border: none;
}

.timetable th:first-child {
    width: 100px;
}

.timetable tbody tr:nth-child(4n+1) td:first-child,
.timetable tbody tr:nth-child(4n+3) td:first-child {
    text-align: left;
    padding-left: 5px;
}

.timetable tbody tr:nth-child(4n+2) td:first-child,
.timetable tbody tr:nth-child(4n+4) td:first-child {
    text-align: right;
    padding-right: 5px;
}

.timetable tbody td {
    border-right: 1px solid rgba(150, 150, 150, 0.5);
}

.timetable tbody td:last-child {
    border-right: none;
}

.timetable .class {
    text-align: center;
    border: 1px solid rgba(150, 150, 150, 0.5);
    transition: background-color 0.5s;
}

.timetable .class h3 {
    margin: 0;
}

.timetable .class p {
    margin: 0;
}

.timetable .class.t {
    background-color: rgba(210, 210, 210, 1);
}
.timetable .class.to {
    background-color: rgba(215, 215, 215, 1);
}

.timetable .class.tp {
    background-color: rgba(220, 220, 220, 1);
}
.timetable .class.tpo {
    background-color: rgba(225, 225, 225, 1);
}

.timetable .class.p {
    background-color: rgba(230, 230, 230, 1);
}
.timetable .class.po {
    background-color: rgba(235, 235, 235, 1);
}

.timetable .class.hover {
    background-color: rgba(150, 150, 150, 1);
}