#topMenu {
    position: sticky;
    width: calc(100% - 20px);
    height: 70px;
    background-color: var(--top-menu-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: var(--top-menu-color);
}

#topMenu span {
    display: flex;
    align-items: center;
}

#topMenu img {
    height: 70px;
    width: 70px;
    margin-right: 10px;
}

#topMenu select {
    height: 40px;
    width: 300px;
    margin-left: 10px;
}

#subTopMenu {
    display: flex;
    width: 100%;
    background-color: var(--sub-top-menu-bg-color);
    min-height: 55px;
    justify-content: space-between;
    align-items: stretch;
}

#subTopMenu #subjects {
    display: flex;
    padding: 10px;
}

#subTopMenu #subjects div {
    background-color: var(--sub-top-menu-subject-bg-color);
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

#subTopMenu #subjects div span {
    font-size: 15px;
    margin-left: 5px;
    background-color: var(--sub-top-menu-subject-cross-bg-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#subTopMenu #menu {
    display: flex;
    align-items: stretch;
    background-color: var(--sub-top-menu-bg-color);
    padding: 10px;
}

#subTopMenu #menu div {
    display: flex;
    align-items: stretch;
    font-weight: bold;
    background-color: var(--sub-top-menu-option-bg-color);
    cursor: pointer;
    transition: background-color 0.5s;
    border-radius: 10px;
    margin-right: 10px;
}

#subTopMenu #menu #update {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

#subTopMenu #menu div:last-child {
    margin-right: 0;
}

#subTopMenu #menu .option:hover,
#subTopMenu #view span:hover,
#subTopMenu #view span.active {
    background-color: var(--sub-top-menu-subject-bg-color-hover);
}

#subTopMenu #view span {
    padding: 0 10px;
    border-right: 1px solid gray;
    display: flex;
    align-items: center;
    transition: background-color 0.5s;
}

#subTopMenu #view span:first-child {
    border-radius: 10px 0 0 10px;
}

#subTopMenu #view span:last-child {
    border-right: none;
    border-radius: 0 10px 10px 0;
}