#leftMenu {
    width: 150px;
    height: 100vh;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid var(--menu-border);
    background-color: var(--menu-bg-color);
    z-index: 100;
}
#leftMenu.open {
    display: flex;
}
#leftMenu.closed {
    display: none;
}
@media (max-width: 700px) {
    #leftMenu {
        width: 100%;
        position: fixed;
    }
}

#leftMenu .top,
#leftMenu .bottom {
    width: 100%;
}

#leftMenu .bottom {
    border-top: 1px solid var(--menu-option-border);
    padding-bottom: 10px;
    padding-top: 10px;
}

#leftMenu .logo {
    background-color: var(--menu-bg-color-logo);
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

#leftMenu .logo img {
    height: 60px;
    width: 60px;
}

#leftMenu .title {
    padding: 5px 5px 0 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
@media (max-width: 700px) {
    #leftMenu .title {
        padding: 20px 20px 0 20px;
    }
}

#leftMenu .sub-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}

#leftMenu .option {
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    transition: box-shadow 0.5s;
}
#leftMenu .option:hover {
    box-shadow: 0 0 2px 2px gray;
}
@media (max-width: 700px) {
    #leftMenu .option {
        margin: 10px 30px;
    }
}

#leftMenu .option .content {
    background-color: var(--menu-option-content-bg-color);
    padding: 3px 5px;
    width: calc(75% - 10px);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    white-space: nowrap;
    border-left: 1px solid var(--menu-option-border);
}
#leftMenu .option .content:first-child {
    border-radius: 5px 0 0 5px;
    border-left: none;
}
#leftMenu .option .content:last-child {
    border-radius: 0 5px 5px 0;
}
@media (max-width: 700px) {
    #leftMenu .option .content {
        padding: 10px;
    }
}

#leftMenu .option .symbol {
    background-color: var(--menu-option-symbol-bg-color);
    border-radius: 0 5px 5px 0;
    /*padding: 2px 0;*/
    width: 25%;
    /*height: 20px;*/
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--menu-option-symbol-color);
    cursor: pointer;
}
#leftMenu .option .symbol.green {
    background-color: var(--menu-option-symbol-bg-color-green);
}
#leftMenu .option .symbol.red {
    background-color: var(--menu-option-symbol-bg-color-red);
}
#leftMenu .option .symbol.blue {
    cursor: default;
    background-color: var(--menu-option-symbol-bg-color-blue);
}

#leftMenu .option.vertical {
    display: flex;
    flex-flow: column;
    margin-top: 3px;
    transition: box-shadow 0.5s;
}
#leftMenu .option.vertical:hover {
    box-shadow: none;
}
#leftMenu .option.vertical .content {
    width: calc(100% - 10px);
    border-left: none;
    border-top: 1px solid var(--menu-option-border);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s;
}
#leftMenu .option.vertical .content:first-child {
    border-radius: 5px 5px 0 0;
    border-top: none;
}
#leftMenu .option.vertical .content:last-child {
    border-radius: 0 0 5px 5px;
}
@media (max-width: 700px) {
    #leftMenu .option.vertical .content {
        width: calc(100% - 20px);
    }
}

#leftMenu .option.vertical .content:hover,
#leftMenu .option.vertical .content.selected {
    background-color: var(--menu-option-content-bg-color-hover);
}