#popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--popup-container-bg-color);
    cursor: pointer;
    z-index: 799;
}

#popup-content-container {
    position: fixed;
    top: calc(25vh - 1px);
    left: calc(25% - 1px);
    width: 50%;
    height: 50vh;
    border-radius: 20px;
    background-color: var(--popup-content-container-bg-color);
    box-shadow: 0 0 5px 5px var(--popup-content-container-box-shadow);
    border: 1px solid var(--menu-border);
    overflow: hidden;
    z-index: 800;
}
@media (max-width: 700px) {
    #popup-content-container {
        top: calc(30px - 1px);
        left: calc(30px - 1px);
        width: calc(100% - 60px);
        height: calc(100vh - 60px);
    }
}

#popup-content {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: var(--content-bg-color);
}

#popup-content .header {
    display: flex;
    justify-content: space-between;
}

#popup-content .header h2 {
    margin: 0;
}

#popup-content .header #close {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

#popup-content .content {
    padding: 10px 0;
    height: 100%;
}

#popup-content #add-subject h3 {
    margin: 5px 0;
}

#popup-content #add-subject .block {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--menu-border);
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 20px);
}
@media (max-width: 700px) {
    #popup-content #add-subject .block {
        flex-direction: column;
    }
}

#popup-content #add-subject .block .option-block {
    width: 100%;
    padding: 0 0.5%;
    border-left: 1px solid var(--menu-border);
}
#popup-content #add-subject .block .option-block:first-child {
    border-left: none;
}
@media (max-width: 700px) {
    #popup-content #add-subject .block .option-block {
        border: none;
    }
}

#popup-content #add-subject .block .option-block h4 {
    margin: 0 0 10px 0;
}

#popup-content #add-subject .block .option-block div {
    text-align: right;
}

#popup-content #add-subject .block .option-block span {
    margin-right: 5px;
}
#popup-content #add-subject .block .option-block select {
    width: 192px;
}

#popup-content #add-subject .buttons {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 10px;
}

#popup-content #add-subject .buttons div {
    margin-left: 5px;
}

#popup-content #add-subject .buttons .add {
    background-color: var(--menu-option-content-bg-color);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

#popup-content #add-subject .buttons .disabled {
    opacity: 0.5;
    cursor: default;
}

#popup-content #add-subject .buttons .add:hover {
    box-shadow: 0 0 2px 2px gray;
}
#popup-content #add-subject .buttons .disabled:hover {
    box-shadow: none;
}



#popup-content #settings .option-block {
    border-radius: 5px;
    border: 1px solid var(--menu-option-border);
    margin-bottom: 5px;
}

#popup-content #settings .option-block .option {
    background-color: var(--menu-bg-color);
    padding: 5px;
}

#popup-content #settings .option-block .content {
    padding: 5px;
}

#popup-content #settings #theme .content {
    display: flex;
    justify-content: space-between;
}

#popup-content #settings #theme .content .switch {
    width: 49%;
    text-align: center;
    border: 1px solid var(--menu-option-border);
    border-radius: 5px;
    padding: 5px 0;
    cursor: pointer;
    transition: all 0.5s;
}

#popup-content #settings #theme .content .switch.selected,
#popup-content #settings #theme .content .switch:hover {
    background-color: var(--menu-bg-color);
}

#popup-content #settings #look .content {
    display: flex;
}

#popup-content #settings #look .switch {
    width: 33%;
}

#popup-content #settings #look .switch .title {
    padding-bottom: 5px;
}

#popup-content #settings #look .switch .options {
    border: 1px solid var(--menu-option-border);
    border-radius: 5px;
}

#popup-content #settings #look .switch .switch-option {
    display: block;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
}
#popup-content #settings #look .switch .switch-option.selected,
#popup-content #settings #look .switch .switch-option:hover {
    background-color: var(--menu-bg-color);
}

#popup-content #settings #about {
    text-align: justify;
}