#aboutContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(100, 100, 100, 0.5);
}

#aboutContentContainer {
    position: fixed;
    top: calc(25vh - 1px);
    left: calc(25% - 1px);
    width: 50%;
    height: 50vh;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
    border: 1px solid #aaa;
    overflow: hidden;
}

#aboutContent {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    overflow-y: auto;
}

#aboutContent .header {
    display: flex;
    justify-content: space-between;
}

#aboutContent .header h2 {
    margin: 0;
}

#aboutContent .header #close {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#aboutContent .content {
    padding: 10px 0;
}

#aboutContent .content ul {
    margin-top: 5px;
    padding-left: 20px;
}