#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--top-menu-bg-color);
    height: 50px;
    padding: 0 10px;
    color: #fff;
    font-size: 20px;
}

#footer #logo {
    height: 40px;
    width: 40px;
}

#footer #menu {
    display: flex;
    align-items: center;
}

#footer #menu .option {
    display: flex;
    align-contents: center;
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    background-color: var(--top-menu-bg-color);
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}

#footer #menu .option ion-icon,
#footer #menu .option img {
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}